*{
    margin:0;
}
body
{
    width: 900px;
 /*   background: #d3d3d3;*/
    margin: auto;
}
#container
{
    width: 900px;
    height: auto;
    background: #add8e6;
    margin: auto;
}
#header
{
    width: 900px;
    background: yellow;
    margin: auto;
    height: 100px;
}
.header_content
{
    width: 750px;
    height: 100px;
    float: left;
}
.header_login
{
    width: 150px;
    height: 100px;
    float: left;
}
.header_login input
{
    width: 70px;
    height: 20px;
}
.header_login label
{
    width: 70px;
    height: 20px;
    font-size: 10pt ;
}
#menu_bar
{
    width: 900px;
    background: #db7093;
    margin: auto;
    height: 40px;
}
.menu_cell
{
    width: auto;
    height: auto;
    float: left;
    padding: 10px;
}
#page_content
{
    width: 900px;
    height: auto;
    background: #adff2f;
}
#footer
{
    width: 900px;
    background: #7fffd4;
    margin: auto;
    height: 50px;
}
#category_field{}
#title_field{}
#content_field{}
#file_field{}
#uploaded_file_field{}
#submit_field{}
.field_set
{
    padding: 10px;
}
.add_news_label
{
    width: 150px;
    float: left;
}
.news_item
{
    padding: 10px;
    width: 880px;
    float: left;
}
.news_item_title
{
    padding: 2px;
}
.news_item_img
{
    padding: 2px;
    float: left;
}
.news_item_text
{
    padding: 2px;
    float: left;
    width: 700px;
    height: 94px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news_img
{
    float: left;
    width: 210px;
    padding: 5px;
}
.news_text
{
    float: left;
}